header {
  background-image: url('../images/red-wall.jpg');
  background-size:contain;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;

  h1 {
    margin: 0;
  }
  h2 {
    font-size: 0.8em;
  }
}
