.doors {
  width: 200px;
  float: left;
  margin-right: 15px;
}

.about {
  font-family: $themeFont;
  font-weight: normal;
}

/* media styles*/

/* tablet styles*/
@media screen and (min-width: 629px){
  main {
    margin: 25px;

    .doors{
      width: 350px;
    }
}
}
