.doors {
  width: 200px;
}

.about {
  font-family: $themeFont;
  font-weight: normal;
}

/* media styles*/

/* tablet styles*/
@media screen and (min-width: 601px) and (max-width: 1199px){
  main {
    margin: 25px;

    .doors{
      width: 350px;
    }
}
}
