#reservations {
    list-style: none;

    &::after{
          content: '';
          display: block;
          height: 10px;
          clear: both;

    }
    li {
        float: left;
        width: $liWdth;
        max-width:$liMaxWdth;
        min-width:$liMinWdth;
        margin: 1%;
        margin-left: 5%;
    }
    article {
        border-top: none;
    }
    p {
        margin-bottom: 0;
        padding: $pPadding;
        &:nth-child(3n) {
            margin-bottom: $pSecondChildMrgBot;
        }
    }
    .delete-reservation {
      border-radius: 10%;
      background-color: #dd2c2c;
      border-color: #dd2c2c;
      color: #ffffff;
    }
}
