#reservations {
    list-style: none;
    li {
        width: $liWdth;
        max-width:$liMaxWdth;
        min-width:$liMinWdth;
    }
    article {
        border-top: none;
    }
    p {
        margin-bottom: 0;
        padding: $pPadding;
        &:nth-child(3n) {
            margin-bottom: $pSecondChildMrgBot;
        }
    }
    .delete-reserve {
      padding-left: 81%;

    }
    .delete-reservation {
      border-radius: 10%;
      background-color: #dd2c2c;
      border-color: #dd2c2c;
      color: #ffffff;
      padding-bottom: 5%;
    }
}
