.add-reservation {
  text-align: center;
  display: inline-block;
}

.reservation-btn {
    background-color: #69c3e5;
    border-color: #69c3e5;
    color: #ffffff;
    padding: 10px 0 10px 0;
    border-radius: 4px;
    margin-bottom: 5px;
}
