
.room-list::after {
  content: '';
  display: block;
  clear: both;
}
.room-items {
  list-style: none;
  width: 200px;
  float: left;
  margin: 5px;
  padding: 5px;
}

.border-roomList {
  border: 1px solid black;
  padding: 30px;
}
