<form class='reser-container' name='guestRes' ng-submit='allRooms.getReservation(allRooms.reservationID.id)'>
    <aside>
      <input class= 'reservation-form' type='text' name='reservation-id' placeholder='Reservation ID' ng-model='allRooms.reservationID.id'>
    </aside>
    <input class='reserve-btn' type='submit' value='Find reservation'>
</form>

<ul class='room-list'>
    <li class='room-items' ng-repeat='room in allRooms.rooms'>
        <h3 class='border-roomList'>Room {{room.number}}</h3>
        <p class='occupancy'> Max Occupancy: {{room.maxOccupancy}}<p>
    </li>
</ul>
