<section id='single-reservation'>


    <h2>Reservation #{{reservation.guestReservation.id}}</h2>

    <article>
        <h4>{{reservation.guestReservation.guest.fullName}}</h4>
        <p>{{reservation.guestReservation.guest.email}}</p>
        <p>{{reservation.guestReservation.guest.phone}}</p>
    </article>

    <article>
        <h4>Room #{{reservation.guestReservation.room.number}}</h4>
        <p>Max Occupancy: {{reservation.guestReservation.room.maxOccupancy}}</p>
    </article>

    <h5>Check In: {{reservation.guestReservation.checkinDate | date: 'M/dd/yyyy'}}</h5>
    <h5>Check Out: {{reservation.guestReservation.checkoutDate | date: 'M/dd/yyyy'}}</h5>

    <input class='delete-reservation' type='submit' value='Delete'>
</section>
