<h2>Reservation {{reservation.guestReservation.guestID}}</h2>

<article>
    <h4>hey{{reservation.guestReservation.fullName}}</h4>
    <p>how{{reservation.guestReservation.email}}</p>
    <p>are{{reservation.guestReservation.phone}}</p>
</article>

<article>
    <h4>you{{reservation.guestReservation.room}}</h4>
    <p>doing{{reservation.guestReservation.occupancy}}</p>
</article>

<h5>Check In: {{reservation.guestReservation.checkinDate}}</h5>
<h5>Check Out: {{reservation.guestReservation.checkoutDate}}</h5>

<button value='Delete'></button>
