<h1>Staff Log in</h1>

<form class='input-group' name='loginForm' ng-submit='loginForm.$valid && !login.login(login.user)'>
  <aside>
    <label for='email'>Email</label>
    <input class='form-control' type='text' placeholder='email' required ng-model='login.user.email'>
  </aside>

  <aside>
    <label for='password'>Password</label>
    <input class='form-control' type='password' placeholder='password' required ng-model='login.user.password'>
  </aside>
    <input class='submit-login' type='submit' value='Log In'>
</form>
